@* @model IEnumerable<The_One_Web_Technology.Models.trainingRegistrationModel> *@
@model The_One_Web_Technology.Models.trainingRegistrationModelList
@{
    ViewData["Title"] = "trainingRegistrationList";
    Layout = "~/Views/Shared/_admin_layout.cshtml";

}

<style>
    .admin_link_title {
        color: var(--clr-main);
        font-size: 1.2rem;
    }

    .admin_list_btn {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
    }

    .custom_content_wrapper {
        padding: 33px;
    }
</style>

<section class="training">
    <div class="tutor-course-details-page space-top space-extra-bottom container-fluid">
        <div class="row">
            <div class="col-xxl-12 col-lg-12">
                <div class="custom_content_wrapper">
                 
                    
                    <table class="table" id="trainingRegistration">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.trainingRegistrationModelLists)
                            {
                                <tr>
                                    <td >
                                        @item.id
                                    </td>
                                    <td style="max-width:50%">
                                        <p style="width: 50vw;
    overflow: hidden;">First Name : @item.firstName</p>
                                        <p>
                                            Last Name : @item.lastName
                                        </p>
                                        <p>
                                            Phone Number : @item.phoneNumber
                                        </p>
                                        <p>
                                            Email : @item.Email
                                        </p>
                                        <p>
                                            Education Qualification : @item.educationQualification
                                        </p>
                                        <p>
                                            Location : @item.location
                                        </p>
                                        <p style="width: 50vw;
    overflow: hidden;">
                                            Messages : @item.yourMessage
                                        </p>
                                        <p>
                                            Password : @item.trainingRegistrationPassword
                                        </p>
                                        <p>
                                            referenceID : @item.referenceId
                                        </p>
                                        <p>
                                            referenceCode : @item.referenceCode
                                        </p>
                                    </td>
                                    <td >
                                        <a href="#">Edit</a>
                                        <a href="#">Remove</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var js = jQuery.noConflict(true);

    js(document).ready(function () {
        js('#trainingRegistration').DataTable({
         
        });
    });
</script>


@* <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
<script>
    $(document).ready(function () {
        $('#employeeTable').DataTable({
            dom: 'Bfrtip',
            buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
        });
    });
</script>
 *@